/*start your css here*/

/*Navigation bar*/
#main-navbar {
  background-color: blue;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  position: relative; 
  width: 100%;
  }
#navbar-container {
  position: relative;
  float: left;
  left: 50%; 
}
#navbar-container ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  float: left; 
  right: 50%;
}
#navbar-container ul li {
  display: block;
  padding: 10px 20px;
  float: left; 
}
#navbar-container a {
  color: #fff;
  text-decoration: none;
}
#navbar-container a:active {
  background-color: #000;
}
#onpage a {
  text-decoration: underline overline;  
}

/*Sidebar*/
#sidebar {
  background-color: red;  
  text-align: center;
  position: fixed;
  right:0%; 
  height: 100%;
  width: 20%;
}
#sidebar ul {
  display: block;
  list-style-type: none;
  padding: 0;
}
#sidebar ul li {
  padding: 15px 0;
}
#sidebar-container a {
   color: #fff;
   text-decoration: none; 
}
#sidebar-container a:active {
  background-color: #000;
}
